---
import Units from '../svgs/Units.astro'
import Goal from '../svgs/Goal.astro'
import Gender from '../svgs/Gender.astro'
import ActivityLevel from '../svgs/ActivityLevel.astro'
import ActivityLevelsPopup from '../popups/ActivityLevelsPopup.astro'

const basicDataGroups = [
  {
    Icon: Units,
    name: 'units',
    legend: {
      ariaPrefix: 'Choose preferred',
      label: 'units'
    },
    options: ['Metric', 'Imperial']
  },
  {
    Icon: Gender,
    name: 'gender',
    legend: {
      ariaPrefix: 'Choose your',
      label: 'gender'
    },
    options: ['Male', 'Female']
  },
  {
    Icon: Goal,
    name: 'goal',
    legend: {
      ariaPrefix: 'Choose your',
      label: 'fitness goal'
    },
    options: ['Lose Weight', 'Maintain', 'Gain Muscle']
  },
  {
    Icon: ActivityLevel,
    name: 'activity',
    legend: {
      ariaPrefix: 'Choose your current',
      label: 'activity level'
    },
    options: ['Little or none', 'Light', 'Moderate', 'High', 'Very high'],
    label: 'show examples'
  }
]
---

<ActivityLevelsPopup />
<div class="basic-data-wrapper">
  {
    basicDataGroups.map(({ Icon, name, legend, options, label }) => (
      <fieldset>
        <legend class="label-with-svg">
          <Icon />
          <span class="sr-only">{legend.ariaPrefix}</span>
          <span class="group-label">
            {legend.label}
            {label != null && (
              <button
                type="button"
                data-button="activity-levels"
                data-open="dialog"
                class="popup-label"
              >
                ({label})
              </button>
            )}
          </span>
        </legend>
        <div class="input-pairs-wrapper">
          {options.map((option, index) => (
            <label>
              <span>{option}</span>
              <input
                type="radio"
                name={name}
                checked={index === 0}
                class="btn"
              />
            </label>
          ))}
        </div>
      </fieldset>
    ))
  }
</div>

<style lang="scss">
  .basic-data-wrapper {
    display: grid;
    gap: 2rem;
  }

  fieldset {
    border: none;

    legend {
      width: 100%;

      .group-label {
        text-transform: capitalize;
      }
    }

    .input-pairs-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }

    label {
      position: relative;
      padding: 0.25rem 1.5rem;
      color: var(--darker-comp-bg);
      font-weight: 500;
      cursor: pointer;
    }

    input[type='radio'] {
      appearance: none;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      &:checked {
        background-color: var(--accent-clr);
      }

      &:checked + label {
        color: hsl(var(--clr-dark-900));
      }
    }
  }
</style>
