---
interface Props {
  min: number
  max: number
  value: number
  label: string
  // eslint-disable-next-line no-unused-vars
  Icon: (_: Record<string, unknown>) => void
}

const { min, max, value, label, Icon } = Astro.props
---

<div class="slider-inputs">
  <div class="label-with-svg">
    <Icon />
    <label for={label}>{label.replaceAll('-', ' ')}</label>
    <slot />
  </div>
  <input
    type="range"
    name={label}
    id={label}
    min={min}
    max={max}
    value={value}
    step="1"
  />
  <label class="sr-only" for={`${label}-number`}
    >{`insert numeric value of ${label}`}</label
  >
  <input
    type="number"
    name={`${label}-number`}
    id={`${label}-number`}
    data-input="number"
    min={min}
    max={max}
    value={value.toFixed(0)}
    step="1"
  />
</div>

<style lang="scss">
  @use '../../sass/_mixins' as *;

  .slider-inputs {
    --default-input-bg: hsl(var(--clr-white-900));
    --slider-height: 1.5;
    --thumb-size: 2rem;
    --thumb-position: 0;
    --thumb-position-percent: calc(var(--thumb-position) * 1%);
    position: relative;
  }

  input[type='range'] {
    appearance: none;
    display: block;
    width: 100%;
    height: calc(var(--slider-height) * 1rem);
    background-image: linear-gradient(
      90deg,
      var(--accent-clr) var(--thumb-position-percent),
      var(--default-input-bg) var(--thumb-position-percent)
    );
    border-radius: var(--border-radius);
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      width: var(--thumb-size);
      aspect-ratio: 1;
      background-color: var(--default-input-bg);
      border-radius: 50%;
      box-shadow: 0 0 0.25rem hsl(var(--clr-dark-900));
    }
  }
</style>
