---
interface Props {
  min: number
  max: number
  value: number
}

const { min, max, value } = Astro.props
---

<div class="slider-inputs">
  <input
    type="range"
    name=""
    id=""
    min={min}
    max={max}
    value={value}
    step="1"
  />
  <input
    type="number"
    name=""
    id=""
    min={min}
    max={max}
    value={value.toFixed(0)}
    step="1"
  />
</div>

<style lang="scss">
  @use '../sass/_mixins' as *;

  .slider-inputs {
    --default-input-bg: hsl(var(--clr-white-900));
    --slider-height: 1.5;
    --thumb-size: 2rem;
    --thumb-position: 0;
    --thumb-position-percent: calc(var(--thumb-position) * 1%);
    position: relative;
  }

  input[type='range'] {
    appearance: none;
    display: block;
    width: 100%;
    height: calc(var(--slider-height) * 1rem);
    background-image: linear-gradient(
      90deg,
      var(--accent-clr) var(--thumb-position-percent),
      var(--default-input-bg) var(--thumb-position-percent)
    );
    border-radius: var(--border-radius);

    &::-webkit-slider-thumb {
      appearance: none;
      width: var(--thumb-size);
      aspect-ratio: 1;
      background-color: var(--default-input-bg);
      border-radius: 50%;
      box-shadow: 0 0 0.25rem hsl(var(--clr-dark-900));
    }
  }

  input[type='number'] {
    position: absolute;
    top: 125%;
    left: calc(
      var(--thumb-position-percent) +
        ((50 - var(--thumb-position)) / 100 * var(--thumb-size))
    );
    padding: 0.25rem;
    width: calc(var(--thumb-size) * 1.5);
    aspect-ratio: 16 / 9;
    background-color: var(--default-input-bg);
    border-radius: var(--border-radius);
    border: none;
    translate: -50%;
    text-align: center;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
