---
interface Props {
  min: number
  max: number
  value: number
}

const { min, max, value } = Astro.props
---

<div class="slider-inputs">
  <input
    type="range"
    name=""
    id=""
    min={min}
    max={max}
    value={value}
    step="1"
  />
  <input
    type="number"
    name=""
    id=""
    min={min}
    max={max}
    value={value.toFixed(0)}
    step="1"
  />
</div>

<script>
  const form = document.querySelector('form')

  const handleSubmit = (e: Event) => {
    e.preventDefault()

    return false
  }

  form?.addEventListener('submit', handleSubmit)
</script>

<style>
  .slider-inputs {
    --default-input-bg: hsl(var(--clr-white-900));
    --slider-height: 1.5;
    --thumb-size: 2;
    --thumb-position: 0;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: 0;
      left: 0;
      width: calc(var(--thumb-position) * 1%);
      height: 100%;
      background-color: var(--accent-clr);
      border-radius: var(--border-radius);
    }

    &::after {
      top: calc((0 - ((var(--thumb-size) - var(--slider-height)) / 2)) * 1rem);
      left: calc(var(--thumb-position) * 1%);
      width: calc(var(--thumb-size) * 1rem);
      aspect-ratio: 1;
      background-color: var(--default-input-bg);
      translate: -50%;
      border-radius: 50%;
      box-shadow: 0 0 0.25rem hsl(var(--clr-dark-900));
    }
  }

  input[type='range'] {
    appearance: none;
    display: block;
    width: 100%;
    height: calc(var(--slider-height) * 1rem);
    background-color: var(--default-input-bg);
    border-radius: var(--border-radius);

    &::-webkit-slider-thumb {
      appearance: none;
    }
  }

  input[type='number'] {
    position: absolute;
    top: 120%;
    left: calc(var(--thumb-position) * 1%);
    padding: 0.25rem;
    width: calc(var(--thumb-size) * 1.5rem);
    aspect-ratio: 16 / 9;
    background-color: var(--default-input-bg);
    border-radius: var(--border-radius);
    border: none;
    translate: -50%;
    text-align: center;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
