---
interface Props {
  min: number
  max: number
  value: number
  label: string
  Icon: string
}

const { min, max, value, label, Icon } = Astro.props
---

<div class="slider-inputs">
  <div class="label-with-svg">
    <Icon />
    <label for={label}>{label.replaceAll('-', ' ')}</label>
  </div>
  <input
    type="range"
    name={label}
    id={label}
    min={min}
    max={max}
    value={value}
    step="1"
  />
  <label class="sr-only" for={`${label}-number`}
    >{`insert numeric value of ${label}`}</label
  >
  <input
    type="number"
    name={`${label}-number`}
    id={`${label}-number`}
    min={min}
    max={max}
    value={value.toFixed(0)}
    step="1"
  />
</div>

<style lang="scss">
  @use '../sass/_mixins' as *;

  .slider-inputs {
    --default-input-bg: hsl(var(--clr-white-900));
    --slider-height: 1.5;
    --thumb-size: 2rem;
    --thumb-position: 0;
    --thumb-position-percent: calc(var(--thumb-position) * 1%);
    position: relative;
  }

  label {
    text-transform: capitalize;
    font-weight: 500;
  }

  input[type='range'] {
    appearance: none;
    display: block;
    width: 100%;
    height: calc(var(--slider-height) * 1rem);
    background-image: linear-gradient(
      90deg,
      var(--accent-clr) var(--thumb-position-percent),
      var(--default-input-bg) var(--thumb-position-percent)
    );
    border-radius: var(--border-radius);

    &::-webkit-slider-thumb {
      appearance: none;
      width: var(--thumb-size);
      aspect-ratio: 1;
      background-color: var(--default-input-bg);
      border-radius: 50%;
      box-shadow: 0 0 0.25rem hsl(var(--clr-dark-900));
    }
  }

  input[type='number'] {
    position: absolute;
    top: 115%;
    left: calc(
      var(--thumb-position-percent) +
        ((50 - var(--thumb-position)) / 100 * var(--thumb-size))
    );
    padding: 0.25rem;
    width: calc(var(--thumb-size) * 1.5);
    aspect-ratio: 16 / 9;
    background-color: var(--default-input-bg);
    border-radius: var(--border-radius);
    border: none;
    translate: -50%;
    text-align: center;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
